extends _layout

block content
	dl
		div
			dt zoon van
			dd <a href="https:///www.bram.us/" class="fauxlink">Bram</a> &amp; <a href="https:///www.elliesblog.be/" class="fauxlink">Elke</a>
		div
			dt broer van
			dd <a href="https:///www.wafinndervan.be/" class="fauxlink">Finn</a> &amp; <a href="https://www.tila.be/" class="fauxlink">Tila</a>
		div
			dt petekind van
			dd Tine &amp; Ian
	
	p.title Cadeautip
	ul#cadeautip
		li 
			a(href="https://www.degeleflamingo.com/apps/registry/list/CF10TJ" title="") geboortelijst
		li BE03 7490 1819 7484